@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0 5% 0 5%;
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  color: #444;
  line-height: 1.3;
}

nav,
footer {
  padding: 1% 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: left;
}

header {
  padding: 12% 0;
}

section {
  min-height: 200px;
  padding: 6% 0;
}


li {
  list-style-type: none;
  display: inline;
}

.clear {
  clear: both;
}

.portrait {
  float: left;
  margin: 5%;
}

/***********************
*Tinker Container Stuff*
***********************/
.tinker-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.tinker-item {
  width: 300px;
  margin: 5%;
  border: 1px solid black;
}


.tinker-title {
  padding: 0px;
  text-align: center;
}

.tinker-title>h4 {
  margin: 4% 0 4% 0;
}

.tinker-item-buttons {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.tinker-item-buttons>button {
  margin: 0 0 0 0;
  margin: 2% 0 2% 0;
}

.tinker-disc {
  margin: 0 0 0 0;
  padding: 5% 7% 5% 7%;
}

.tinker-disc>p {
  margin: 0;
  font-size: 1.2rem;
}
